project:
  type: book
  pre-render: R/generate-zip.R

book:
  title: "Leer Microsoft Excel"
  author: "Ben Welman"
  date: today
  date-format: long
  google-analytics: "G-1C2YS9QSEK"
  site-url: https://leerexcel.netlify.app/
  repo-url: https://github.com/bwelman/leerexcel
  repo-actions: [issue]
  description: "Een taakgericht studieboek."
  favicon: images/favicon-excel.png
  downloads: [pdf]

  chapters:
    - index.qmd
    - preface.qmd
    - 01-intro.qmd
    - 02-worksheets.qmd
    - 03-data.qmd
    - 04-formatting.qmd
    - 05-calculations.qmd
    - 06-functions.qmd
    - 07-tables.qmd
    - 08-arrays.qmd
    - 09-charts.qmd
    - 10-charttypes.qmd
    - 11-scenarios.qmd
    - 12-datatables.qmd
    - 13-pivots.qmd
    - 14-goalseek.qmd
    - 15-solver.qmd
    - 16-macro.qmd
    - 17-measurements.qmd

execute:
  freeze: auto

lang: nl

language:
  en:
    crossref-prp-title: "Task"
  nl:
    crossref-prp-title: "Taak"

format:
  html:
    include-after-body: include/webex-nl.js
    css: include/webex.css
    theme:
      - cosmo
      - include/textbook.scss
    cover-image: images/cover-excel.svg
    fig-width: 6
    fig-asp: 0.618
    code-fold: false
    link-external-newwindow: true
    callout-appearance: simple
    author-meta: "Ben Welman"
    description-meta: "Met dit taakgericht studieboek leer je te werken met Excel."
    # keywords: ["Excel", "Power Query", "berekeningen", "functies", "tabellen", "grafieken", "arrays", "scenario", "draaitabellen", "doelzoeken", "oplosser"]

  pdf:
    documentclass: scrbook
    classoption: oneside
    papersize: a4
    geometry:
     - top=25mm
     - bottom=25mm
     - left=25mm
     - right=25mm
    cite-method: biblatex
    links-as-notes: true
    author: [Ben Welman]
    date: \today

knitr:
  opts_chunk:
    echo: false
    warning: false
    message: false
    cache: false
